<h1>ID:{{data._id}}</h1>
<p><strong>Title:</strong><a href={{data.book.url}}>{{data.book.title}}</a></p>
<p><strong>Imprint:</strong> {{data.imprint}}</p>
<p><strong>Status:</strong><span data-val="{{data.status}}">{{data.status}}</span></p>