<h1>{{title}}: {{genre.name}}</h1>
<div>
    {{#if data}}
    <h4>Books</h4>
    <dl>
        {{#each data}}
        <dt><a href={{this.url}}>{{this.title}}</a></dt>
        <dd>{{this.summary}}</dd>
        {{/each}}
    </dl>
    {{else}}
    <h4>This genre has no books</h4>
    {{/if}}
</div>

<hr>
<p><a href={{genre.url}}/delete>Delete Genre</a></p>