<h1>{{title}}</h1>
<p>Welcome to {{title}} A very basic express website</p>
<p>The library has the following records:</p>
<ul>
    <li><strong>Books:</strong>{{data.book_count}}</li>
    <li><strong>BookInstance:</strong>{{data.book_instance_count}}</li>
    <li><strong>BookInstance Available:</strong>{{data.book_instance_available_count}}</li>
    <li><strong>Authors:</strong>{{data.author_count}}</li>
    <li><strong>Genre:</strong>{{data.genre_count}}</li>
</ul>